@using EPiServer.Shell.Navigation
@model OptiGraphExtensions.Administration.AdministrationViewModel

@{
    Layout = "/Views/Shared/Layouts/_LayoutBlazorAdminPage.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@Model.Title</title>
</head>
<body>
    @Html.CreatePlatformNavigationMenu()
    <div @Html.ApplyPlatformNavigation()>
        <h1>@Model.Title</h1>
        <p>@Model.Subtitle</p>
    </div>
</body>
</html>